.nav-sidebar>.nav-header,
.sidebar-form {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.login-page .main-footer {
    display: none;
}

#registros {
    font-size: 13px;
}

.editar {
    font-size: 15px;
    color: green;
    margin-right: 10px;
}

.eliminar {
    font-size: 15px;
    color: red;
}

.save {
    font-size: 20px;
    color: blue;
}