#header {
    height: 100px;
    width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #f13e3e;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 28px;
}

#logo img {
    display: block;
    float: left;
    height: 70px;
    margin-top: -9px;
    margin-right: 10px;
    margin-bottom: 5px;
    animation: latir infinite 5s linear;
}

@keyframes latir {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.02, 1.02);
    }
    55% {
        transform: scale(0.95, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}

@media (max-width: 813px) {
    #logo {
        float: none;
    }
    img {
        width: 260px;
    }
}

@media (max-width: 323px) {
    #logo {
        float: none;
    }
    img {
        width: 200px;
    }
}

.btn-success {
    background: rgb(23, 150, 19);
}

.btn-success:hover {
    background: black;
}


/*paginacion*/

.paginacion {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #495560;
    border-color: #fff;
}

.panel-info {
    border-color: #fff !important;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #495560;
    border-color: #ddd;
}

a:focus,
a:hover {
    color: #fff;
    text-decoration: underline;
}

a {
    color: #495560;
    text-decoration: none;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #495560;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

th {
    background: #495560 !important;
    color: #fff;
    font-weight: 500 !important;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #c8c8c8;
    padding: 10px 20px !important;
    font-size: 14px !important;
}